{% extends 'base.html' %}

{% block title %}
    Django-Two-Shot
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'create_category' %}">Create a Category</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Expense Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses_list.all %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.receipts.all|length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
